// loader.scss
// -----------------------------------------------------------------


// Loader
// -----------------------
.loader-horizontal-1 {
    vertical-align: middle;
    background-image: url("http://imgsg.jobing.com/2012/ajax-loader-2.gif");
    background-position: center center;
    background-repeat: no-repeat;
    height: 10px;
    width: 80px;
}

.loader-spinner-1 {
    vertical-align: middle;
    background-image: url("http://imgsg.jobing.com/2012/ajax-loader.gif");
    background-position: center center;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;    
}