// Styles - https://github.com/adamwdraper/styles
// Tables 0.0.1
// -----------------------------------------------------------------

// Default zebra-stripe styles (alternating gray and transparent backgrounds)
table {
    width: 100%;
    background: $grayLightest;
    border-collapse: separate; // Done so we can round those corners!
    @include border-radius(.3em);

    // Cells
    th,
    td {
        padding: 8px;
        line-height: 1em;
        text-align: left;
        vertical-align: top;
    }
    th {
        font-weight: bold;
    }
    // Bottom align for column headings
    thead th {
        vertical-align: bottom;
    }

    tbody {
        
        tr:nth-child(odd) td,
        tr:nth-child(odd) th {
            background-color: #DDD;
        }
    }
}